@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Liu+Jian+Mao+Cao&display=swap');

.header{
    background-color:#ffffff;
    width:100vw;
    overflow-x: hidden;
    position: relative;
    font-family: 'Roboto', sans-serif;
    


    .logoDiv{
        background-color: #ffffff;
        width:100%;
        height:100px;
        z-index: 1000;
        position: relative;
        

        .title{
            position: absolute;
            top:15px;
            left:150px;
            font-size:25px;
            // width:750px;
            margin:0;
            margin-top:10px;
            font-weight: bold;
            letter-spacing: 2px;
            z-index: 1000;
            .name{
                font-family: 'Liu Jian Mao Cao', cursive;
                margin-bottom:20px;
                margin-left:20px;
                font-size: 45px;
                color:#0288BD;
                z-index: 1000;
                background-color: #ffffff;
    
            }
        }
        svg{
            position: absolute;
            top:25px;
            right:110px;
            font-size:50px;
            padding-right:20px;
            transition: 0.3s;
            color:#0288BD;
            z-index: 10;
            cursor: pointer;
            &:hover{
                transform: scale(1.2);
            }  
        }
       
       
    }
   
    .restaurant{
        width:100%;
        height: 500px;
        margin:0 auto;
        margin-top:200px;
        overflow-y: hidden;
        display:flex;
        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            min-width: 80%;
            max-height: 100%;
            opacity: 0;
            animation: slider 15s infinite linear;
        }
        img:nth-child(2) {
            animation-delay: 5s;
           }
           img:nth-child(3) {
            animation-delay: 10s;
           }
      
        
    }
    
  

    .menu{
        position: absolute;
        top:-300px;
        right:0px;
        width:500px;
        height:500px;
        background-color: #ffffff;
        transition: 0.5s;
        display:none;

        ul{
            position: absolute;
            bottom:40px;
            left:40px;
            list-style-type: none;
            display:flex;
            justify-content: center;
            overflow-y: hidden;

            li{
                padding: 5px;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: bold;
                color:#000000;
                cursor: pointer;
                font-size:20px;
                transition: 0.3s;
                text-align: center;
                width:100px;
                display:flex;
               align-items: center;
               justify-content: center;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .line{
                width:5px;
               display:flex;
               align-items: center;
               font-size: 30px;
               color:#0288BD;

            }
        }
     

    } 

    #menu{
        transition: 0.5s;
    }
    

 
    // @media only screen and (max-width: 1240px){
    //     .restaurant{
    //         height: 350px;
    //         img{
    //             min-width: 50%;
    //         }
    //     }
    // }


 @media only screen and (max-width: 1100px){
    .title{
        left:100px;
    }
 }
 @media only screen and (max-width: 930px){
    .logoDiv .title{
       left:50px;
       .name{
           margin-left:0;
       }
    }
    // .menu{
    //     width:350px;
    //     height:400px;
    //     top:-100px;
    //     right:-100px;
    // }
    // svg{
    //     right:65px;
    // }
 }
 @media only screen and (max-width: 810px){
    .logoDiv .title{
        left:20px;
        .name{
            font-size:30px;
            margin-left: 0 auto;
            margin-right: 0 auto;
        }
    }
 }
 @media only screen and (max-width: 700px){
    .menu{
        width:100%;
        height:50px;
        top:100px;
        left:0;
        right:0;
        display: block;
        ul{
            display: flex;
            width:100%;
            justify-content: space-around;
            bottom:0;
            left:0;
            padding-bottom:10px;
            padding-top: 10px;
           li{
               font-size: 16px;
           } 
        }
    }
    svg{
       display: none;
    }
    .logoDiv {
        
        display:flex;
        justify-content: center;
        align-items: center;
        
      
    }
   
 }
 @media only screen and (max-width: 430px){
    .logoDiv{
        height:80px;
    }
    .logoDiv .title{
        font-size:20px;
        margin-left: 0 auto;
        margin-right: 0 auto;
     
    }
    .menu{
        top:80px;
        ul{
            padding-top: 0;
        }
    }
    
    
 }

 @media only screen and (max-width: 400px){
    .logoDiv .title{
        
        .name{
            font-size:25px;
        }
    }
    .menu{
        height: 100px;
        ul{
            flex-direction: column;
            align-items: center;
            li{
                font-size:18px;
            }
            .line{
                display:none;
            }
        }
    }
 }

 @media only screen and (max-width: 370px){
    .logoDiv .title{
        font-size:16px;
        .name{
            font-size:18px;
            
    }
 }
}


}

@keyframes slider {
    0% {
     opacity: 0;
    }
    5% {
     opacity: 1
    }
    33.33% {
     opacity: 1
    }
    38.33% {
     opacity: 0;
    }
    100% {
     opacity: 0;
    }
   }